<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- <Console name="consola" target="SYSTEM_OUT">
        </Console>-->
        <File name="fichero" fileName="logs/app.log">
            <PatternLayout>
                <Pattern> %d{dd-MM-yy HH:mm:ss} %p %c %m %n</Pattern>
            </PatternLayout>
        </File>
         <File name="ficherootro" fileName="logs/appotro.log">
            <PatternLayout>
                <Pattern> %d{dd-MM-yy HH:mm:ss} %p %c %m %n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="fichero" />
        </Root>
        <Logger name="es.logixs.otros2" level="debug" additivity="false">
            <AppenderRef ref="ficherootro" />
        </Logger>
        <Logger name="es.logixs.repository.mysql.ProductsRepositoryMySQL" level="info">
          <AppenderRef ref="mySQLrepoProducts"/>
        </Logger>
        <Logger name="es.logixs.repository.mysql.RequestRepositoryMySQL" level="info">
          <AppenderRef ref="mySQLrepoRequests"/>
        </Logger>
        <Logger name="es.logixs.repository.mysql.CounterOffersRepositoryMySQL" level="info">
          <AppenderRef ref="ficherootro"/>
        </Logger>

    </Loggers>
</Configuration>
